html, body {
    background-color: rgba(255, 251, 243, 1)!important;
    margin: 0; /* Reset default margin */
    width: 100%;
    height: 100vh;
}

.container {
    max-width: 10%; /* Adjust the maximum width as needed */
    margin: 10vh 0 0 100px; /* Adjust margin to center vertically and move it to the left */
}

.custom-navbar {
    position: fixed; /* Fix the navbar to the top of the viewport */
    top: 0; /* Position it at the top */
    width: 90%; /* Make it span the full width */
    z-index: 1000; /* Ensure it stays above other elements */
    background-color: rgba(255, 251, 243, 1)!important;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.navbar-header {
    display: flex;
    align-items: center;
}

.navbar-header.logo {
    margin-right: 50px; /* Adjust margin */
    height: 100px; /* Adjust height */
    width: auto;
}

.navbar-nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-nav > li {
  margin: 0 15px;
  color: black;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Inter';
  text-decoration: none;
}

.navbar-nav > li > a {
    padding: 10px 15px; /* Adjust padding */
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Inter';
}

/* Adjust positioning for smaller screens */
@media (max-width: 768px) {
   .custom-navbar {
        justify-content: center; /* Center all items horizontally */
    }
   .navbar-header {
        justify-content: center; /* Center logo horizontally */
        width: 100%; /* Ensure it takes full width */
    }
   .navbar-nav {
        display: block;
        text-align: center;
        width: 100%; /* Ensure it takes full width */
    }
   .navbar-nav > li {
        margin: 10px 0; /* Adjust margin */
    }
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px; /* Adjust margin to account for fixed navbar height */
    margin-left: 300px; /* Adjust margin as needed */
}

.cup-mockup-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 75px; /* Add margin to separate from navbar */
    position: relative; /* Make this container a positioning context */
    margin-left: 150px;
}

.cup-mockup {
    height: 400px; /* Adjust height as needed */
    width: auto;
}

.about_coffee {
    position: absolute; /* Position the text over the image */
    top: 50%; /* Adjust to position the text */
    left: 0%;
    transform: translate(-50%, -50%); /* Center the text */
    text-align: left;
    color: #000; /* Ensure the text is readable */
    max-width: 100%;
}

.about_coffee h2.a {
    font-family: "Finger Paint", sans-serif;
    font-size: 82px;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

.about_coffee p {
    font-family: "Inter", sans-serif;
    margin-top: 10px; /* Adjust margin to move it closer to h2 */
}

.prdcts-btn {
  background: linear-gradient(180deg, #9C631F 41.15%, #96560B 100%, #6B3C04 100%);
  color: #ffffff; /* White text color */
  font-family: 'Inter', sans-serif;
  font-size: 16px; /* Adjust font size as needed */
  padding: 10px 50px; /* Adjust padding as needed */
  border: none; /* Remove default border */
  border-radius: 19.13px; /* Adjust border radius as needed */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background 0.3s ease; /* Smooth transition for hover effect */
}

.prdcts-btn:hover {
    background: linear-gradient(180deg, #9C631F 31.15%, #96560B 60%, #6B3C04 85%);
}

.popular-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}

.popular-text {
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}

.popular-text h2 {
  font-size: 2rem;
}

.popular-text p {
    font-size: 12px;
}

.popular-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.a-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  position: relative;
  width: 200px;
}

.a-menu img.rectangle-image {
  width: 100%;
  height: auto;
  z-index: 1; /* Ensure the rectangle is behind */
}

/* Style individual images */
.coffee-image {
    width: 284px; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    position: absolute;
    top: 258px;
    left: 18%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure the coffee image is on top */
  }
  
.coctail-image {
  width: 195px; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */
  position: absolute;
  top: 150px;
  left: 57.8%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Ensure the coffee image is on top */
}
  
.crossaint-image {
  width: 210px; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */
  position: absolute;
  top: 179px;
  left: 81%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Ensure the coffee image is on top */
}
  
.cake-image {
  width: 434px; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */
  position: absolute;
  top: 208px;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Ensure the coffee image is on top */
}
  
.beans-image {
  width: 245px; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */
  position: absolute;
  top: 199px;
  left: 83%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Ensure the coffee image is on top */
}
  
.a-menu p.coffee-text {
  position: absolute; /* Position the text over the image */
  top: 17%; /* Adjust to position the text */
  left: 48%;
  transform: translate(-50%, -50%); /* Center the text */
  text-align: left;
  color: #000; /* Ensure the text is readable */
  max-width: 100%;
  z-index: 3;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 1000;
}

.a-menu p.coctail-text {
  position: absolute; /* Position the text over the image */
  top: 14%; /* Adjust to position the text */
  left: 48%;
  transform: translate(-50%, -50%); /* Center the text */
  text-align: left;
  color: #000; /* Ensure the text is readable */
  max-width: 100%;
  z-index: 3;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 1000;
}

.a-menu p.crossaint-text {
  position: absolute; /* Position the text over the image */
  top: 7%; /* Adjust to position the text */
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text */
  text-align: left;
  color: #000; /* Ensure the text is readable */
  max-width: 100%;
  z-index: 2;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 1000;
}

.a-menu h2.cake-text {
  position: absolute; /* Position the text over the image */
  top: 9%; /* Adjust to position the text */
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text */
  text-align: left;
  color: #000; /* Ensure the text is readable */
  max-width: 100%;
  z-index: 3;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 1000;
}

.a-menu p.cake-text {
  position: absolute; /* Position the text over the image */
  top: 16%; /* Adjust to position the text */
  left: 44%;
  transform: translate(-50%, -50%); /* Center the text */
  text-align: left;
  color: #000; /* Ensure the text is readable */
  max-width: 100%;
  z-index: 3;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 1000;
}

.a-menu p.beans-text {
  position: absolute; /* Position the text over the image */
  top: 8%; /* Adjust to position the text */
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text */
  text-align: left;
  color: #000; /* Ensure the text is readable */
  max-width: 100%;
  z-index: 3;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 1000;
}

.a-menu img.price-image {
  width: 80px;
  height: auto;
  position: absolute; /* Position the text over the image */
  top: 90%; /* Adjust to position the text */
  left: 73%;
  transform: translate(-50%, -50%); /* Center the text */
  max-width: 100%;
  z-index: 3;
}

.a-menu p.price-text {
  width: 80px;
  height: auto;
  position: absolute; /* Position the text over the image */
  top: 86.5%; /* Adjust to position the text */
  left: 86%;
  transform: translate(-50%, -50%); /* Center the text */
  color: #000;
  max-width: 100%;
  z-index: 4;
  font-family: 'Inter', sans-serif;
  font-size: 11px;
  font-weight: 1000;
}

.view-btn {
  background: linear-gradient(180deg, #9C631F 41.15%, #96560B 100%, #6B3C04 100%);
  color: #ffffff; /* White text color */
  font-family: 'Inter', sans-serif;
  font-size: 16px; /* Adjust font size as needed */
  padding: 10px 50px; /* Adjust padding as needed */
  border: none; /* Remove default border */
  border-radius: 19.13px; /* Adjust border radius as needed */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background 0.3s ease; /* Smooth transition for hover effect */
  display: block;
  margin: 50px auto; /* Center horizontally with margin for vertical spacing */
  text-align: center; /* Center text */
}

.view-btn:hover {
  background: linear-gradient(180deg, #9C631F 31.15%, #96560B 60%, #6B3C04 85%);
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
  .view-btn {
    width: 80%; /* Adjust width for large screens */
  }
}

@media (max-width: 992px) {
  .view-btn {
    width: 90%; /* Adjust width for medium screens */
  }
}

@media (max-width: 768px) {
  .view-btn {
    width: 95%; /* Adjust width for small screens */
  }
}

@media (max-width: 576px) {
  .view-btn {
    width: 100%; /* Adjust width for extra small screens */
  }
}

.dropdown .dropbtn {
  position: relative;
  padding-right: 25px;
  cursor: pointer; /* Change cursor to pointer */
}

.dropdown .dropbtn::after {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.dropdown-content {
  display: none; /* Hide dropdown content by default */
  position: absolute;
  background-color: rgba(255, 251, 243, 1);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
